﻿
@{
    ViewBag.Title = "Web API training";
}
<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>

<h2>Student List</h2>

<body data-ng-app="APIModule">
<div id="tblSubs" ng-controller="APIController">
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rate</th>
            <th></th>
        </tr>
        <tbody data-ng-repeat="student in students">
        <tr>
            <td>{{student.Id}}</td>
            <td>{{student.FirstName}}</td>
            <td>{{student.LastName}}</td>
            <td>{{student.Rate}}</td>
            <td>
                <input type="button" id="Delete" value="Delete" data-ng-click="dltStudent(student.Id)" />
            </td>
        </tr>
        </tbody>
    </table>

    <div class="form-group">
        <label >First Name</label>
        <input type="text" class="form-control" id="FirstNameInput" placeholder="Enter First Name" [required="string" ] data-ng-model="FirstName" />
        
        <label >Last Name</label>
        <input type="text" class="form-control" id="LastNameInput" placeholder="Enter Last Name" [required="string" ] data-ng-model="LastName" />
        
        <label >Rate</label>
        <input type="text" class="form-control" id="RateInput" placeholder="Enter Rate"  data-ng-model="Rate" />
    </div>
    <button type="button" class="btn btn-default" data-ng-click="saveStudent();">Submit</button>
</div>
</body>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/APIScripts/Module.js"></script>
<script src="~/Scripts/APIScripts/Service.js"></script>
<script src="~/Scripts/APIScripts/Controller.js"></script>



